$primary: #f89d13;
$secondary: #001d38;
$success: #00d363;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #f9f9f9 ;
$white: #fff;
$dark: #2c2c2c;

@import '/node_modules/bootstrap/scss/bootstrap.scss';
